/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$primary-font-weight: 400;
$primary-color: #000000;
$secondary-color: #ffffff;
$color-caption-dark: #111111;
$color-caption: #222222;
$color-text: #444444;
$accent: #68b738;
$neutral-color-1: #f2f2f2;
$neutral-color-2: #eaeaea;
