/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$primary-font-weight: 400;
$primary-color: #000000;
$secondary-color: #ffffff;
$color-caption-dark: #111111;
$color-caption: #222222;
$color-text: #444444;
$accent: #68b738;
$accent-transparent: rgba(104, 183, 56, 0.85);
$neutral-color-1: #f2f2f2;
$neutral-color-2: #eaeaea;
$color-footer-icons: #666666;
$color-index-divider:#d9d9d9;
$color-catalog-divider-1: #ebebeb;
$color-catalog-divider-2: #cdcdcd;
$color-index-divider:#e6e6e6;
$neutral-color-3: #e7e7e7;
$error-color:#ff8282;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
