.additional-product {
  display: grid;
  row-gap: 13px;
  grid-template-columns: 1fr;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    row-gap: 21px;
    padding: 26px 38px 28px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  color: $color-caption;
  text-transform: uppercase;
}


.additional-product__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2px;


  @media (min-width: $tablet-width) {
    justify-content: right;
    gap: 49px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    justify-content: space-between;
  }
}

.additional-product__caption {
  @media (min-width: $desktop-width) {
    min-width: 285px;
  }
}
