.button {
  font-family: $secondary-font;
  background-color: $accent;
  color: $secondary-color;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
