.button-toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#burger");
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }
}
