.caption {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: inherit;
  color: $color-caption;
  text-transform: uppercase;

  &--dark {
    color: $color-caption-dark;
  }

  &--low {
    line-height: 16px;
  }
}
