.catalog-card {
  display: grid;
  row-gap: 14px;
  grid-template-columns: 140px 76px 64px;
  grid-template-rows: 41px 65px 40px;
}

.catalog-card__list {
  font-size: 12px;
  line-height: 16px;
  color: $color-text;
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 0;
}

.catalog-card__description {
  justify-self: end;
}

.catalog-card__link-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  place-self: center center;
}

.catalog-card__button {
  grid-column: 1/4;
  grid-row: 3/4;
}
