.choice {
  color: $secondary-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $secondary-color;
    color: inherit;
  }
}

.choice__title {
  margin-bottom: 25px;
}

.choice__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.choice__container {
  width: 100%;
  height: 302px;
  background-image: linear-gradient($accent-transparent, $accent-transparent), url("../../images/background-mobile-cat@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 135px;

  @media (min-width: $tablet-width) {
    background-image: none;
    height: auto;
    text-align: left;
    padding-left: 90px;
    margin-bottom: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    background-image: linear-gradient($accent-transparent, $accent-transparent), url("../../images/background-mobile-cat@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.choice__button {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: auto;
    padding: 14px 26px;
    position: absolute;
    top: 230px;
    margin-left: 90px;
  }
}

.choice__image {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 201px;
  }
}
