.choice {
  color: $secondary-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $secondary-color;
    color: inherit;
  }
}

.choice__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.choice__container {
  width: 320px;
  height: 302px;
  background-image: linear-gradient($accent-transparent, $accent-transparent), url("../../images/background-mobile-cat@1x.jpg");

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    background-image: linear-gradient($accent-transparent, $accent-transparent), url("../../images/background-mobile-cat@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
