.form__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-text;
  border: 1px solid #cdcdcd;
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
