.goals-card__subtitle {
  text-align: left;
  text-transform: uppercase;
}

.goals-card__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $primary-color;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .goals-card__image {
    width: 200px;
    height: 211px;
  }
}

@media (min-width: 1440px) {
  .goals-card__image {
    width: 100px;
    height: 106px;
  }
}
