.page-footer {
  background-color: $neutral-color-1;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 0;
  gap: 40px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: 1440px) {
    padding: 66px 110px;
  }
}

.page-footer__list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;

  @media (max-width: 767px) {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #d9d9d9;
      top: 84px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #d9d9d9;
      bottom: 94px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.page-footer__creator {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: 768px) {
    width: 168px;
  }
}
