.partnership__address {
  font-size: 14px;
  color: $color-text;
}

.partnership__info--catalog {
  background-color: $neutral-color-1;
}

.partnership__map-container {
  position: relative;
}

.partnership__map-container::before {
  position: absolute;
  content: "";
  width: 57px;
  height: 53px;
  background-image: url("../../icons/stack.svg#map-cursor-logo");
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}
