.partnership__address {
  font-size: 14px;
  color: $color-text;
}

.partnership__info--catalog {
  background-color: $neutral-color-1;
}

.partnership__image-map {
  width: 100%;
  object-fit: cover;
}
