.results {
  background-color: $neutral-color-2;
}

.results__title {
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 69px;
  }
}

.results__list {
  font-family: $secondary-font;
}
