.social {
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  &--vk {
    mask-image: url("../../icons/stack.svg#icon-vkontakte");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-footer-icons;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#icon-youtube");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-footer-icons;
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#icon-telegram");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-footer-icons;
  }

  &:hover,
  :focus {
    background-color: $accent;
  }

  &:active {
    background-color: $accent;
    opacity: 0.3;
  }
}
