.subscribe__text {
  font-family: $secondary-font;
  line-height: 24px;
  text-align: center;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
  }
}
