.subscribe {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.subscribe__text {
  font-family: $secondary-font;
  line-height: 24px;
  text-align: center;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    padding: 0 40px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    margin: 0 auto;
    max-width: 632px;
  }

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.subscribe__subtitle {
  margin-bottom: 32px;
  position: relative;
  width: fit-content;
  background-color: $secondary-color;
  box-shadow: 40px 0 0 0 $secondary-color, -40px 0 0 0 $secondary-color;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $accent;
    top: 10px;
    right: 0;
    box-shadow: 100vw 0 0 0 $accent;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-bottom: 66px;
    box-shadow: 40px 0 0 0 $secondary-color;

    &::before {
      top: 14px;
      box-shadow: 100vw 0 0 0 $accent;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    box-shadow: 40px 0 0 0 $secondary-color, -40px 0 0 0 $secondary-color;
    margin-bottom: 72px;

    &::before {
      top: 18px;
    }
  }
}
