.text {
  font-size: 14px;
  line-height: 18px;
  color: $color-text;
  margin: 0;

  &--low {
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    &--low {
      line-height: 20px;
    }
  }
}
