.title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  &--high {
    line-height: 40px;

    @media (min-width: $tablet-width) {
      line-height: 60px;
    }
  }
}
